<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <!--<add key="AzureConnectionString" value="UseDevelopmentStorage=true"/>-->
    
  
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=xxx;AccountKey=uyyyyy"/>
    <add key="AWSAccessKeyID" value="xxx"/>
    <add key="AWSSecretAccessKeyID" value="xxxxxxx"/>

  </appSettings>
</configuration>
