<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
   
    <!-- general -->
    <add key="AzureAccountKey" value="xxxxxx   azure account key xxxxxxxxx"/>
    <add key="AWSAccessKeyID" value="  s3 access key "/>
    <add key="AWSSecretAccessKeyID" value="s3 secret key "/>

    <!-- source. Orig of copying. -->
    <add key="SrcAzureAccountKey" value="xxxxxx   azure account key xxxxxxxxx"/>
    <add key="SrcAWSAccessKeyID" value="  s3 access key "/>
    <add key="SrcAWSSecretAccessKeyID" value="s3 secret key "/>
    
    <!-- target. Destination of copying -->
    <add key="TargetAzureAccountKey" value="xxxxxx   azure account key xxxxxxxxx"/>
    <add key="TargetAWSAccessKeyID" value="  s3 access key "/>
    <add key="TargetAWSSecretAccessKeyID" value="s3 secret key "/>
  </appSettings>
</configuration>
