<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.1.1.0" targetFramework="net451" />
  <package id="DropNet" version="1.9.6" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.1" targetFramework="net451" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net40" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="RestSharp" version="104.4.0" targetFramework="net40" />
  <package id="System.Spatial" version="5.6.1" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="4.0.1" targetFramework="net451" />
</packages>